html {
      background: url('./login.jpg') no-repeat center center fixed;
      background-size: cover;
      font-family: sans-serif;
}

body {
	margin: 0px;
	padding: 0px;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

#sidebar{
	background: transparent;
	top: 0px;
	width: 200px;
	height: 100%;
	display: block;
	position: fixed;
	left:-205px;
	top:0px;
	transition:left 0.2s linear;
}

#sidebar.visible{
	left:0px;
	transition:left 0.2s ease-in;
}


ul.sidebar {
	margin: 0px;
	padding: 0px;
}

li.sidebar-el{
	list-style: none;
}

li.sidebar-el a{

	font-size: 18px;
	color: #ccc;
	text-decoration: none;
  background:rgba(0,0,0,0.6);
	/*border-bottom:2px solid #111;*/
	border-left: 5px solid lightblue;
	display: block;
	width: 100%;
	padding:10px 10px 10px 15px;
}

.sidebar-el:visited {
	color: white;
}

li.sidebar-el a:hover {
	background: #303436;
}

#active {
	background: #b56b2b;
}


#sidebar-button {
	display: inline-block;
	width: 20px;
	height: 15px;
  font-size: 25px;
	cursor: pointer;
	margin: 15px;
	position: absolute;
	top: 0px;
	right: -60px;
}


#sidebar-button.invisible {
	display: none;
}
