html {
	background: url('../Images/login.jpg') no-repeat center center fixed;
	background-size: cover;
}

body {
	margin: 0px;
	padding: 0px;
}

::-webkit-scrollbar {
	width: 2px;
}

/* Track */

::-webkit-scrollbar-track {
	border-radius: 1px;
}

/* Handle */

::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 10px;
}

#sidebar {
	background: transparent;
	z-index: 1;
	width: 200px;
	height: 100%;
	display: block;
	position: fixed;
	left: -205px;
	top: 0px;
	transition: left 0.2s linear;
}

#sidebar.visible {
	left: 0px;
	transition: left 0.2s ease-in;
}

li.sidebar-el {
	list-style: none;
}

li.sidebar-el a {
	font-size: 18px;
	color: #ccc;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.6);
	border-left: 5px solid lightblue;
	display: block;
	width: 100%;
	padding: 10px 10px 10px 15px;
}

.sidebar-el:visited {
	color: white;
}

li.sidebar-el a:hover {
	background: rgba(166, 98, 44, 0.6);
	color: white;
}

#current-page {
	background: #b56b2b;
}

#sidebar-button {
	color: green;
	width: 20px;
	height: 15px;
	font-size: 25px;
	cursor: pointer;
	margin: 15px;
	position: absolute;
	top: 0px;
	right: -60px;
}

#sidebar-button.invisible {
	right: 150px;
}

main {
	width: 85%;
	left: 200px;
	height: 98%;
	top: 1%;
	position: absolute;
}

h1 {
	color: green;
	position: absolute;
	left: 50px;
	top: 0px;
	height: 50px;
	display: block;
}

main table {
	background: rgba(0, 0, 0, 0.6);
	display: inline-block;
	color: white;
	border-collapse: collapse;
	position: absolute;
	left: 50px;
	top: 60px;
}

#header-row {
	border-bottom: 1px solid black;
}

table td {
	cursor: pointer;
}

.Friend {
	cursor: pointer;
	padding: 4px;
}

.active,
.Friend:hover {
	background-color: #ccc;
}

.Friend:active {
	background-color: #ccc;
}

td img {
	height: auto;
	width: auto;
	max-height: 80px;
	max-width: 50px;
}

.RemoveFriend {
	padding: 3px;
}

tfoot {
	border-collapse: collapse;
}

#add-friend-btn {
	color: rgba(0, 0, 0, 0.6);
	width: 100%;
	padding: 3px;
}

#modalActivities {
	display: none;
}

.tableContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	background: rgba(0, 0, 0, 0.5);
}

.tableContainer #scrollTab {
	position: relative;
	width: 94%;
	height: 90%;
	max-height: 80vh;
	top: 5%;
	bottom: 5%;
	left: 3%;
	right: 3%;
	overflow-x: hidden;
	overflow-y: scroll;
	background: rgba(0, 0, 0, 0.7)
}

.activityContainerButton {
	width: 100%;
	height: 20%;
}

.activityContainer {
	color: white;
	width: 100%;
	height: 100%;
	position: relative;
	text-align: left;
	top: 0px;
	left: 0px;
	border-bottom: 1px solid black;
}

.activityName {
	font-size: 25px;
	width: 90%;
}

.activityHour,
.activityDate {
	width: 100%;
	font-size: 17px;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
	text-align: left;
}

.closeBtn {
	color: white;
	font-size: 20px;
	float: right;
	position: fixed;
	top: 0px;
	right: 7px;
}

.closeBtn:hover,
.closeBtn:focus {
	text-decoration: none;
	cursor: pointer;
	color: red;
}

#modalAddFriend {
	display: none;
}

.modalAddFriend {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 2;
}

.contentAddFriend {
	display: block;
	float: left;
	width: 94%;
	height: 80%;
	position: fixed;
	top: 10%;
	bottom: 10%;
	left: 3%;
	right: 3%;
	background: #fefefe;
}

.pop-up-header {
	color: green;
	font-size: 30px;
	padding-left: 20px;
}

.searchTab {
	display: inline-block;
	width: 50%;
	height: 100%;
	border-right: 2px solid black;
}

#searchInput {
	position: relative;
	top: 10%;
	left: 5%;
}

.suggestionsTab {
	display: inline-block;
	float: right;
	width: 50%;
	height: 100%;
}

.suggestionsTab table {
	width: 94%;
	margin-left: 3%;
	margin-right: 3%;
}

.common-friends {
	text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
	#sidebar {
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 1;
		width: 100%;
		height: 50px;
	}
	#sidebar ul {
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 50px;
		margin: 0px;
		padding: 0px;
	}
	li.sidebar-el {
		display: inline-block;
		float: left;
		width: 25vw;
		text-align: center;
	}
	li.sidebar-el a {
		font-size: 12px;
		color: #ccc;
		text-decoration: none;
		background: rgba(0, 0, 0, 0.6);
		height: 50px;
		padding-top: 15px;
		padding-left: 10px;
		text-align: center;
		margin: 0px;
		border: 0px;
	}
	.sidebar-el:visited {
		color: white;
	}
	li.sidebar-el a:hover {
		background: rgba(166, 98, 44, 0.6);
		color: white;
	}
	#current-page {
		background: #b56b2b;
	}
	#sidebar-button {
		color: black;
		width: 0px;
		height: 0px;
		font-size: 0px;
		cursor: pointer;
		margin: 0px;
		position: absolute;
		top: 0px;
		right: 0px;
		display: none;
	}
	#sidebar-button.invisible {
		right: 0px;
		display: none;
	}
	.tableContainer #scrollTab {
		position: relative;
		width: 93%;
		height: 90%;
		max-height: 80vh;
		top: 12vh;
		bottom: 8vh;
		left: 3.5%;
		right: 3.5%;
		overflow-x: hidden;
		overflow-y: scroll;
		background: rgba(0, 0, 0, 0.7)
	}
	main {
		width: 100%;
		left: 0px;
		top: 50px;
		height: 90vh;
		position: absolute;
	}
	h1 {
		color: green;
		position: absolute;
		left: 20px;
		top: 0px;
		height: 50px;
		display: block;
	}
	main table {
		background: rgba(0, 0, 0, 0.6);
		display: block;
		color: white;
		border-collapse: collapse;
		position: absolute;
		left: 10px;
		right: auto;
		top: 70px;
		font-size: 13px;
	}
	table td {
		cursor: pointer;
	}
	.contentAddFriend {
		display: block;
		float: left;
		width: 94%;
		height: 90%;
		position: fixed;
		top: 5%;
		bottom: 5%;
		left: 3%;
		right: 3%;
		background: #fefefe;
	}
	.pop-up-header {
		color: green;
		font-size: 25px;
		padding-left: 20px;
	}
	.searchTab {
		display: block;
		width: 100%;
		height: 40%;
		border-right: 0px;
		border-bottom: 2px solid black;
	}
	#searchInput {
		position: relative;
		top: 10%;
		left: 20%;
	}
	.suggestionsTab {
		display: block;
		width: 100%;
		height: 60%;
	}
}

@media screen and (min-width: 520px) and (max-width: 767px) and (orientation: landscape) {
	#sidebar {
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 1;
		width: 100%;
		height: 50px;
	}
	#sidebar ul {
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 50px;
		margin: 0px;
		padding: 0px;
	}
	li.sidebar-el {
		display: inline-block;
		float: left;
		width: 25vw;
		text-align: center;
	}
	li.sidebar-el a {
		font-size: 12px;
		color: #ccc;
		text-decoration: none;
		background: rgba(0, 0, 0, 0.6);
		height: 50px;
		padding-top: 15px;
		padding-left: 10px;
		text-align: center;
		margin: 0px;
		border: 0px;
	}
	.sidebar-el:visited {
		color: white;
	}
	li.sidebar-el a:hover {
		background: rgba(166, 98, 44, 0.6);
		color: white;
	}
	#current-page {
		background: #b56b2b;
	}
	#sidebar-button {
		color: black;
		width: 0px;
		height: 0px;
		font-size: 0px;
		cursor: pointer;
		margin: 0px;
		position: absolute;
		top: 0px;
		right: 0px;
		display: none;
	}
	#sidebar-button.invisible {
		right: 0px;
		display: none;
	}
	.tableContainer #scrollTab {
		position: relative;
		width: 93%;
		height: 90%;
		max-height: 80vh;
		top: 12vh;
		bottom: 8vh;
		left: 3.5%;
		right: 3.5%;
		overflow-x: hidden;
		overflow-y: scroll;
		background: rgba(0, 0, 0, 0.7)
	}
	main {
		width: 100%;
		left: 0px;
		top: 50px;
		height: 85vh;
		position: absolute;
		overflow-y: hidden;
	}
	h1 {
		color: green;
		position: absolute;
		left: 20px;
		top: 0px;
		height: 50px;
		display: block;
	}
	main table {
		background: rgba(0, 0, 0, 0.6);
		display: block;
		color: white;
		border-collapse: collapse;
		position: absolute;
		left: 10px;
		right: auto;
		top: 70px;
		font-size: 13px;
	}
	table td {
		cursor: pointer;
	}
	.contentAddFriend {
		display: block;
		float: left;
		width: 90%;
		height: 90%;
		position: fixed;
		top: 5%;
		bottom: 5%;
		left: 5%;
		right: 5%;
		background: #fefefe;
	}
	.pop-up-header {
		color: green;
		font-size: 25px;
		padding-left: 20px;
	}
	.searchTab {
		display: inline-block;
		width: 50%;
		height: 100%;
		border-right: 2px solid black;
	}
	#searchInput {
		position: absolute;
		top: 60px;
		left: 20px;
	}
	.suggestionsTab {
		display: inline-block;
		width: 50%;
		height: 100%;
	}
}