html {
    background: url('./login.gif') no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
  padding: 40px;
}




.tableContainer {
  border: 1px solid black;
  width: 70%;
  display: block;
  margin-right:100px;
  float:right;
  top:250px;
  margin-right: 10px;
  padding: 10px;
  background: linear-gradient(to right,black,transparent,black);
}

.activityContainerButton{
  background: none;
}

.activityContainer{
    border: 1px solid black;
    margin: 1px;
    color: white;
    padding-left: 5px;
    width: 100%;
    padding:5px;
    text-align: left;
    margin-top: 3px;
    background: linear-gradient(to right,rgba(0,0,0,0.2),transparent,black);
}

.activityName{
  font-size: 25px;
}

.activityHour , .activityDate{
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  text-align: left;
}

.modalEdit{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  overflow:visible;
  background: rgba(0,110,110,0.1);
}

.modalContent{
  margin: 5px;
  background:black;
  color: white;
  margin: 10% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.3);
}

.modalClose{
  float: right;
  font-size: 20px;
  color: white;
  padding: 5px;
}

.modalClose:hover,.modalClose:focus{

  color:red;
  text-decoration: none;
  cursor: pointer;

}
