html {
      background: url('./login.gif') no-repeat center center fixed;
      background-size: cover;
      font-family: sans-serif;
}

body {
	margin: 0px;
	padding: 0px;
	font-family:"Helvetica Neue", Helvetica, Arial;
}



.tableContainer {
  border: 1px solid black;
  width: 70%;
  display: block;
  margin-right:100px;
  margin-top: 50px;
  float:right;
  top:250px;
  margin-right: 10px;
  padding: 10px;
  background: linear-gradient(to right,black,transparent,black);
}

.activityContainerButton{
  background: none;
}

.activityContainer{
    border: 1px solid black;
    margin: 1px;
    color: white;
    padding-left: 5px;
    width: 100%;
    padding:5px;
    text-align: left;
    margin-top: 3px;
    background: linear-gradient(to right,rgba(0,0,0,0.2),transparent,black);
}

.activityName{
  font-size: 25px;
}

.activityHour , .activityDate{
  font-size: 17px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  text-align: left;
}

.modalEdit{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  overflow:visible;
  background: rgba(0,110,110,0.1);
}

.modalContent{
  margin: 5px;
  background:black;
  color: white;
  margin: 10% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.3);
}

.modalClose{
  float: right;
  font-size: 20px;
  color: white;
  padding: 5px;
}

.modalClose:hover,.modalClose:focus{

  color:red;
  text-decoration: none;
  cursor: pointer;

}


#sidebar{
	background: transparent;
	top: 0px;
	width: 200px;
	height: 100%;
	display: block;
	position: fixed;
	left:-205px;
	top:0px;
	transition:left 0.2s linear;
}

#sidebar.visible{
	left:0px;
	transition:left 0.2s linear;
}


ul.sidebar {
	margin: 0px;
	padding: 0px;
}

li.sidebar-el{
	list-style: none;
}

li.sidebar-el a{

	font-size: 18px;
	color: #ccc;
	text-decoration: none;
	background:rgba(0,0,0,0.6);
	/*border-bottom:2px solid #111;*/
	border-left: 5px solid lightblue;
	display: block;
	width: 165px;
	padding:10px 10px 10px 15px;
}

.sidebar-el:visited {
	color: white;
}

li.sidebar-el a:hover {
	background: #303436;
}

#active {
	background: green;
}


#sidebar-button {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 15px;
  font-size: 25px;
	cursor: pointer;
	margin: 15px;
	position: absolute;
	top: 0px;
	right: -60px;
}


#sidebar-button.invisible {
	display: none;
}
